

<h3 *ngIf="!isOrderplaced">Welcome !!.. Here is our menu</h3>

<ol class="list-group" *ngIf="!isOrderplaced">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let foodItems of foodItems">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{foodItems.name}}</div>
         {{foodItems.description}}
      </div>
      <button type="button" (click)="addItemtoOrder(foodItems)" class="btn btn-light">+</button>
    </li>
  </ol>


  <!-- <div class="col-lg-6" *ngIf="order.order[0] && !isOrderplaced">
    <h3>Your order</h3>
    <div class="fw-bold">{{customerorder}}</div>
    <button type="button"  class="btn btn-primary" (click)="placeOrder()"> Place the order</button>

</div> -->
<div class="col-lg-12" *ngIf="order.order[0] && !isOrderplaced">
<h3> Your Order....</h3>

<ol class="list-group list-group-numbered" *ngIf="!isOrderplaced">
  <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let items of order.order">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{items.name}}</div>
      
    
      <li  lass="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of items.items">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{item.name}}</div>
          
          <!-- <button type="button"  *ngIf="!item.optional" class="btn btn-primary">-</button> -->
        </div>
        <!-- <span class="badge bg-primary rounded-pill">{{item.optional}}</span> -->
        <button type="button"  *ngIf="!item.optional" class="btn btn-light">-</button>
      </li>
    
  </div>
    <!-- <span class="badge bg-primary rounded-pill">{{order.orderdate}}</span> -->
  </li>
  
</ol>

<button type="button"  class="btn btn-primary" (click)="placeOrder()"> Place the order</button>

</div>

<h3 *ngIf="isOrderplaced" > Your Order..</h3>

  <ol class="list-group list-group-numbered" *ngIf="isOrderplaced">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let order of placedOrders">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Order Id :: {{order.orderId}}</div>
         <li  *ngFor="let items of order.order">
          {{items.name}}
       </li> 
      </div>
      <span class="badge bg-primary rounded-pill">{{order.orderdate}}</span>
    </li>
    
  </ol>
  
  