<h3 > Your Order..</h3>
  <!-- <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let order of placedOrders">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Order Id :: {{order.orderId}}</div>
         <li  *ngFor="let items of order.order">
          {{items.name}}
       </li> 
      </div>
      <span class="badge bg-primary rounded-pill">{{order.orderdate}}</span>
    </li>
    
  </ol> -->

  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let order of placedOrders" 
    [ngClass]="{'list-group-item-secondary' : order.orderstatus!='','list-group-item-danger' : (order.orderstatus!='' && order.orderstatus.includes('missing'))}">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Order Id :: {{order.orderId}}       </div>
         <li  *ngFor="let items of order.order">
          {{items.name}}
          <div class="ms-2 me-auto">
          <!-- <li  lass="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of items.items">
            <div class="ms-2 me-auto" [ngClass]="{'list-group-item-success' : item.isadded}">
              <div class="fw-bold">{{item.name}}</div>
          </div>
          
        </li> -->
      </div>
       </li> 
      </div>
      <span class="badge bg-warning rounded-pill">{{order.orderstatus}}</span>
      <span class="badge bg-primary rounded-pill">{{order.orderdate}}</span>
    </li>
    
  </ol>

