
<div class="example-container">
<h2 > Your Order..</h2>

  

  <mat-list *ngFor="let order of placedOrders ;let orderindex = index "  class="simple-list"
  [ngClass]="{'list' : (order.orderstatus && order.orderstatus.includes('missing')), 'list-success': (order.orderstatus && order.orderstatus.includes('completed'))}">
    <mat-card>
      <mat-card-header>
        <mat-card-title><b> Order id :: {{order.orderId}}</b></mat-card-title>
        <mat-card-subtitle>
         </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list-item  *ngFor="let item of order.order let itemindex=index">
          <div  matListItemTitle> {{item.name}}</div>
          <mat-icon  matListItemIcon > navigate_next</mat-icon>
          
        </mat-list-item>
      </mat-card-content>
      <mat-card-actions align="end"> 
        <button mat-button>{{order.orderdate}}</button>
        <button mat-button>
          <mat-chip-option *ngIf="order.orderstatus && !order.orderstatus.includes('missing')" color="accent" selected>{{order.orderstatus}}</mat-chip-option>
          <mat-chip-option *ngIf="order.orderstatus && order.orderstatus.includes('missing')" color="warn" selected>{{order.orderstatus}}</mat-chip-option>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </mat-list>
</div>
